*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
/iosApp/Pods/
.env
keystore.properties
*.jks
*.keystore
google-services.json
GoogleService-Info.plist

/build
composeApp/build
*.apk
local.properties
